@charset "utf-8";
 *{margin:0; padding:0;} 

#principal {
	width: 760px;
	\width: 780px;
	w\idth: 760px;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	background-color: #F8F8F8;
}


h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #25D7FC; text-shadow: black 0.1em 0.1em 0.2em;
}
h2 {
	font-family:Arial, Helvetica, sans-serif;
	color: #25D7FC; text-shadow: black 0.1em 0.1em 0.2em;
}
p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
}

#top{
	height:160px;
	width:740px;
	margin-left:auto;
	margin-right:auto;
	
}


#topleft{ background:url(../imagens/logo.png)  ; 
height:150px;
width:200px;
float:left;
margin-right:2px;
	
}


#topright{ 
height:150px;
width:538px;
float:right;
background-color:#CCC;
-webkit-border-top-right-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;	
	
}



#content {
	float:left;
	width:760px;
	float:left;
	background-color: #fff;
	
}
#meiopeq {
	margin: 1%;
	float: left;
	height: 48%;
	width: 48%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #666;
}

li {
	list-style-type: none;
	text-indent: -5px;
}


#footer {
	clear:both;
	padding: 5px;
	margin-top:5px;
	background-color: #E4E4E4;
	height: 30px;
	margin-top: 0px;
	font-size:8px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #fff; text-shadow: 0.1em 0.1em 0.05em #333;
	text-align:center;
}

#areamenu {
	height:30px;
	width:100%;
	float:left;
	margin-bottom:1px;
	
}

#menu {
        FONT-SIZE: 93%; BACKGROUND: url(../imagens/bg.gif)  repeat-x 50% bottom; FLOAT: left; WIDTH: 100%; LINE-HEIGHT: normal
}
#menu UL {
        PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 10px; LIST-STYLE-TYPE: none
}
#menu LI {
        PADDING-RIGHT: 0px; PADDING-LEFT: 9px; BACKGROUND: url(../imagens/left.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#menu A {
        PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 6px; FONT-WEIGHT: bold; BACKGROUND: url(../imagens/right.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 4px; COLOR: #3d3d3d; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#menu A {
        FLOAT: none
}
#menu A:hover {
        COLOR: #fefefe;
}
#menu #current {
        BACKGROUND-IMAGE: url(../imagens/left_on.gif)
}
#menu #current A {
        BACKGROUND-IMAGE: url(../imagens/right_on.gif); PADDING-BOTTOM: 5px; COLOR: #fff
}
#conteudo {
	width: 100%;
	float: left;
}
#meio {
	float: left;
	width: 49%;
	height: 500px;
}
.meio{
	margin-left: 1%;
}
.maeiopeq{
		margin: 1%;
	float: left;
	height: 48%;
	width: 48%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #666;
}
#meiogrande {
	background-color: #E4E4E4;
	height: 97%;
	width: 95%;
	padding-right: 5px;
	padding-left: 5px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* MURAL */
	
#Mural {
	width: 350px;
	float: left;
	background-color: #E4E4E4;
	border: 1px solid #17541f;
	margin-right: 10px;
	margin-left: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px 5px;
	*padding: 5px;
	_padding: 5px;
}
	
#Mural .titulo {
	font-size: 18px;
	font-family: Helvetica;
	vertical-align: middle;	
	color: #17541f;
}

#Mural img.iconG {
	float: left;
	margin-right: auto;
	margin-left: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
	height: 56px;	
	width: 56px;
}

#Mural .texto {
	font-family: Helvetica;
	font-size: 18px;
	vertical-align: middle;
	color: #FFFFFF;
	}

#Mural .texto a {	
	vertical-align: middle;
	margin: 0px 5px;
	}

#Mural #pontos, #Mural #medalhas, #Mural #chuteiras, #Mural #trofeus, #Mural #acertos {
	height: 62px;
	margin-top: 5px;	
	padding: 1px 1px;
	*padding: 1px;
	_padding: 1px;
}

#Mural .bordas {
	height:63;
	width: 324;
	border: 1px solid #ffffff;

}

#Mural .prata {	
	font-family: Helvetica;	
	font-size: 14px;	
	color: #FFFFFF;
	margin-left: 10px;
	margin-top: 2px;
}
	
#Mural .bronze {	
	font-family: Helvetica;	
	font-size: 14px;	
	color: #FFFFFF;
	margin-left: 45px;
	margin-top: 2px;
}

#Mural .ouro {	
	font-family: Helvetica;	
	font-size: 30px;	
	color: #FFFFFF;
	margin-left: 10px;
	margin-top: 25px;
}

/* BOTÃO COMPARTILHAR */

#Mural #compartilharMural {
	background-color: blue;
	float:top right;
	height: 25px;
	width: 100px;
	border: 1px solid #17541f;
	margin-right: 5px;
	margin-left: 95px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px 2px;
	*padding: 2px;
	_padding: 2px;
}

#Mural #compartilharMural .compartilhar {
	font-size: 15px;
	font-family: Helvetica;
	vertical-align: middle;
	color: #ffffff;
	text-decoration: none; 
	font-weight:bold;
	margin: 3px;
}

	
/* PONTOS */
	
#Mural #pontos {
	background: #56a102;
	border: 1px solid #17541f;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 1px 1px;
	*padding: 1px;
	_padding: 1px;
}
	
#Mural #pontos .total_pontos {		
	font-family: Helvetica;	
	font-size: 36px;	
	color: #FFFFFF;
	text-align: center;	
	vertical-align: middle;
	height: 63px;	
	line-height: 63px;
	margin-left: 10px;
}
	
	/* MEDALHAS */
	
#Mural #medalhas {	
	background: #a63fbf;
	border: 1px solid #17541f;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 1px 1px;
	*padding: 1px;
	_padding: 1px;
}

/* CHUTEIRAS */
	
#Mural #chuteiras {	
	background: #FFA500;
	border: 1px solid #17541f;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 1px 1px;
	*padding: 1px;
	_padding: 1px;
}

/* TROFÉUS */
	
#Mural #trofeus {
	background: #DC143C;
	border: 1px solid #17541f;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 1px 1px;
	*padding: 1px;
	_padding: 1px;
}
	
#Mural .total_trofeus {
	font-family: Helvetica;	
	color: #FFFFFF;
	vertical-align: middle;
	margin-left: 10px;
}

/* ACERTOS */

#Mural #acertos {	
	background: #3B5998;
	border: 1px solid #17541f;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 1px 1px;
	*padding: 1px;
	_padding: 1px;
}

#Mural #acertos .timeGanhador {	
	font-family: Helvetica;	
	font-size: 8px;	
	color: #FFFFFF;
	margin-left: 10px;
	margin-top: 1px;
}
	
#Mural #acertos .placarInvertido {	
	font-family: Helvetica;	
	font-size: 8px;	
	color: #FFFFFF;
	margin-left: 10px;
	margin-top: 2px;
}

#Mural #acertos .placarCorreto {	
	font-family: Helvetica;	
	font-size: 10px;	
	color: #FFFFFF;
	margin-left: 10px;
	margin-top: 25px;
}
	
