a {
	text-decoration: none;
}

#principal{
	width: 760px;
	
	/*background-color: #ffffff;
	background: #ffffff;*/
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#cabecalho{
	height: 160px;
	width: 760px;
	
	/*background-color: #ffffff;
	background: #ffffff;*/
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;	
}

#logo{
	float: left;
	width: 200px;
	
	/*background-color: url(../imagens/logo.png);
	background: url(../imagens/logo.png);*/
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#banner{
	float: right;
	width: 115px;
	height: 150px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#curtir{
	float: right;
	width: 114px;
	height: 21px;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#boxMenu{
	float: left;
	width: 750px;
	
	background-color: #ffffcc;
	cursor:pointer;
	
	border:solid 1px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow:inset 0px 0px 10px #ff3300;
	-webkit-box-shadow:inset 0px 0px 10px #ff3300;
	box-shadow:inset 0px 0px 10px #ff3300;
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#conteudo{
	height: 100%;
	width: 760px;
	
	/*background-color: #ffffff;
	background: #ffffff;*/
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	
}


#colunaUnica{
	float: left;
	height: 100%;
	width: 730px;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#colunaEsquerda{
	float: left;
	height: 100%;
	width: 470px;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#colunaDireita{
	float: left;
	height: 100%;
	width: 225px;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#rodape{
	clear: both;
	width: 730px;
	
	background-color: #ffffff;
	background: #ffffff;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;
	
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	
}

.titulo{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #ff3300;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.aviso{
	clear:both;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #ff3300;
	text-align: center;
	vertical-align: middle;
	
	background-color: #ffffcc;
	background: #ffffcc;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
	
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

/* JOGOS LIBERADOS */

#jogos{
	width: 100%;
	
	/*background-color: #ffffff;
	background: #ffffff;*/
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	font-family: Helvetica, Arial, sans-serif;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
}

.dataJogo{
	height: 20px;
	
	background-color: #e4e4e4;
	background: #e4e4e4;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	
	border:solid 0px #000000;
	-moz-border-radius-topleft: 75px;
	-moz-border-radius-topright:75px;
	-moz-border-radius-bottomleft:75px;
	-moz-border-radius-bottomright:75px;
	-webkit-border-top-left-radius:75px;
	-webkit-border-top-right-radius:75px;
	-webkit-border-bottom-left-radius:75px;
	-webkit-border-bottom-right-radius:75px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
}

.statusJogo{
	height: 20px;
	
	background-color: #e4e4e4;
	background: #e4e4e4;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	
	border:solid 0px #000000;
	-moz-border-radius-topleft: 75px;
	-moz-border-radius-topright:75px;
	-moz-border-radius-bottomleft:75px;
	-moz-border-radius-bottomright:75px;
	-webkit-border-top-left-radius:75px;
	-webkit-border-top-right-radius:75px;
	-webkit-border-bottom-left-radius:75px;
	-webkit-border-bottom-right-radius:75px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;	
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 10px;
	
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
}

.jogoLiberado{
	width: 100%;
	
	/*background-color: #ffffff;
	background: #ffffff;*/
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	text-align: center;
	vertical-align: middle;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.jogoLiberado:hover{
	width: 100%;
	
	background-color: #ffffcc;
	background: #ffffcc;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	text-align: center;
	vertical-align: middle;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.nomeTimeChutes{
	float: left;
	width: 105px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 7px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}

img.escudoTime{
	float: left;
	height: 25px;
	width: 25px;
	
	text-align: center;
	vertical-align: middle;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
}

.letraX{
	float: left;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.chute{
	float: left;
	width: 45px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 3px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 1px;
}

.salvarChutes {
	
	background-color: #56a102;
	cursor:pointer;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.salvarChutes:hover {
	
	background-color: #ff3300;
	cursor:pointer;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.okChutes {
	float: left;
	height: 24px;
	
	background-color: #56a102;
	cursor:pointer;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	
	margin-top: 3px;
	margin-right: auto;
	margin-bottom: 3px;
	margin-left: auto;
	
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
}

.okChutes:hover {
	float: left;
	height: 24px;
	
	background-color: #ff3300;
	cursor:pointer;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	
	margin-top: 3px;
	margin-right: auto;
	margin-bottom: 3px;
	margin-left: auto;
	
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
}

.rendimentos{
	float:left;
	width: 100%;
	
	background-color: #ffffcc;
	background: #ffffcc;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	text-align: center;
	vertical-align: middle;
	
	-moz-box-shadow: 0px 0px 8px #000000;
	-webkit-box-shadow: 0px 0px 8px #000000;
	box-shadow: 0px 0px 8px #000000;
	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

.botaoRendimento{
	float:left;
	width: 100%;
	
	background-color: #ffffcc;
	background: #ffffcc;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	text-align: center;
	vertical-align: middle;
	
	-moz-box-shadow: 0px 0px 8px #000000;
	-webkit-box-shadow: 0px 0px 8px #000000;
	box-shadow: 0px 0px 8px #000000;
	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

.rendimentoTimeChute{
	float: left;
	width: 45%;
	
	/*background-color: #ffffff;
	background: #ffffff;*/
	
	border:solid 0px #cccccc;

	text-align: center;
	vertical-align: middle;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 4px;
}

.divisoriaRendimentoTime{
	float: left;
	width: 1px;
	height: 65px;
	
	background: #cccccc;*/
	
	border:solid 0px #cccccc;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.infoRendimento{
	float: left;
	width: 30%;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 1px #ff3300;
	-webkit-box-shadow: 0px 0px 1px #ff3300;
	box-shadow: 0px 0px 1px #ff3300;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #ff3300;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;	
}

.divisoria{
	clear: both;
	width: 100%;
	
	/*background-color: #ffffff;
	background: #ffffff;*/
	
	border:solid 0px #cccccc;
	border-bottom-width: 1px;

	text-align: center;
	vertical-align: middle;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.divisoriaCampeonatos{
	clear: both;
	width: 100%;
	height: 2px;
	
	background-color: #ff3300;
	background: #ff3300;
	
	border:solid 0px #ff3300;
	-moz-border-radius-topleft: 75px;
	-moz-border-radius-topright:75px;
	-moz-border-radius-bottomleft:75px;
	-moz-border-radius-bottomright:75px;
	-webkit-border-top-left-radius:75px;
	-webkit-border-top-right-radius:75px;
	-webkit-border-bottom-left-radius:75px;
	-webkit-border-bottom-right-radius:75px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;

	text-align: center;
	vertical-align: middle;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

/*RANKINGS*/

.posicaoUsuario{
	background-color: #ffffcc;
	background: #ffffcc;
	
	border:solid 1px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ff3300;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.rankingPontos{
	float: left;
	width: 45%;
	
	/*background-color: #00df00;
	background: #00df00;*/
	
	border:solid 0px #ff3300;
	
	font-family: Helvetica, Arial, sans-serif;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 10px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.rankingMedalhas{
	float: right;
	width: 45%;
	
	/*background-color: #00df00;
	background: #00df00;*/
	
	border:solid 0px #00df00;
	
	font-family: Helvetica, Arial, sans-serif;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.topoRanking{
	height: 15px;
	
	background-color: #00df00;
	background: #00df00;
	
	border:solid 0px #000000;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-topright:50px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:50px;
	-webkit-border-top-right-radius:50px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	}
	
.baseRanking{
	height: 15px;
	
	background-color: #00df00;
	background: #00df00;
	
	border:solid 0px #000000;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomleft:50px;
	-moz-border-radius-bottomright:50px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:50px;
	-webkit-border-bottom-right-radius:50px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.classificadoClaro{
	
	background-color: #c1ffc1;
	background: #c1ffc1;
	
	border:solid 1px #00df00;

	text-align: left;
	vertical-align: middle;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.classificadoEscuro{
	
	background-color: #b4eeb4;
	background: #b4eeb4;
	
	border:solid 1px #00df00;

	text-align: left;
	vertical-align: middle;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.posicao{
	float: left;
	width: 30px;
	height: 30px;
	
	/*background-color: #ffffff;
	background: #ffffff;*/
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #006600;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 6px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
	
.classificadoNome{
	float: left;
	width: 129px;
	height: 30px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #006600;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}

.classificadoFoto{
	float: left;
	width: 30px;
	height: 30px;
	
	text-align: center;
	vertical-align: middle;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

img.ranking{
	width: 30px;
	height: 30px;
}

a.ranking{
	color: #006600;
}

.divisoriaRanking{
	clear: both;
}

.muralRankPontos{
	width: 98%;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 1px #ff3300;
	-webkit-box-shadow: 0px 0px 1px #ff3300;
	box-shadow: 0px 0px 1px #ff3300;
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 2px;
	
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}

.muralRankTrofeus{
	width: 98%;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 1px #ff3300;
	-webkit-box-shadow: 0px 0px 1px #ff3300;
	box-shadow: 0px 0px 1px #ff3300;
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 2px;
	
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}

.muralRankAcertos{
	width: 98%;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 1px #ff3300;
	-webkit-box-shadow: 0px 0px 1px #ff3300;
	box-shadow: 0px 0px 1px #ff3300;
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 2px;
	
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}

.muralRankMedalhas{
	width: 98%;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 1px #ff3300;
	-webkit-box-shadow: 0px 0px 1px #ff3300;
	box-shadow: 0px 0px 1px #ff3300;
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 2px;
	
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}

img.muralRankImg{
	height: 20px;
	width: 20px;
	
	text-align: left;
	vertical-align: middle;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
}

.muralRankQtd{
	width: 80%px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 7px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 0px;
}

/* CHUTES FEITOS */

.nomeTimeChutesFeitos{
	float: left;
	width: 120px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 7px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}

/* PLACARES */

.jogoPlacares{
	float: left;
	
	/*background-color: #ffffff;
	background: #ffffff;*/
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	text-align: center;
	vertical-align: middle;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
	
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

.dataJogoPlacares{
	height: 20px;
	
	background-color: #e4e4e4;
	background: #e4e4e4;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	
	border:solid 0px #000000;
	-moz-border-radius-topleft: 75px;
	-moz-border-radius-topright:75px;
	-moz-border-radius-bottomleft:75px;
	-moz-border-radius-bottomright:75px;
	-webkit-border-top-left-radius:75px;
	-webkit-border-top-right-radius:75px;
	-webkit-border-bottom-left-radius:75px;
	-webkit-border-bottom-right-radius:75px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 2px;
	padding-right: 20px;
	padding-bottom: 2px;
	padding-left: 20px;
}

.nomeTimePlacares{
	float: left;
	width: 110px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 7px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.top3Placares{
	float: left;
	width: 130px;
	
	/*background-color: #c1ffc1;
	background: #c1ffc1;*/
	
	border:solid 0px #00df00;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #006600;
	font-weight: bold;
	
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
	
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}

img.escudoTimePlacares{
	float: left;
	height: 25px;
	width: 25px;
	
	text-align: center;
	vertical-align: middle;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.divisoriaPlacares{
	clear: both;
	width: 100%;
	
	/*background-color: #ffffff;
	background: #ffffff;*/
	
	border:solid 0px #cccccc;
	border-bottom-width: 1px;

	text-align: center;
	vertical-align: middle;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

/*MENU CAMPEONATOS*/

#menuCampeonatos{
	clear: both;
	width: 100%;
	
	border:solid 0px #cccccc;

	text-align: center;
	vertical-align: middle;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

img.logoCampeonato{
	width: 100%;
	
	text-align: center;
	vertical-align: middle;
	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}

.nomeCampeonato{
	clear: both;
}

a.menuCampeonatos{
	color: #006600;
}

.divisoriaMenuCampeonatos{
	clear: both;
}

.todosAtivo{
	width: 100%;
	
	background-color: #ff3300;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.todosInativo{
	width: 100%;
	
	background-color: #ffffcc;
	cursor:pointer;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow:inset 0px 0px 10px #ff3300;
	-webkit-box-shadow:inset 0px 0px 10px #ff3300;
	box-shadow:inset 0px 0px 10px #ff3300;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ff3300;
	font-weight: bold;
	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.todosInativo:hover {
	
	background-color: #ff3300;
	cursor:pointer;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.campeonatoAtivo{
	float: left;
	width: 45%;
	height: 145px;
	
	background-color: #ff3300;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.campeonatoInativo{
	float: left;
	width: 45%;
	height: 145px;
	
	background-color: #ffffcc;
	cursor:pointer;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow:inset 0px 0px 10px #ff3300;
	-webkit-box-shadow:inset 0px 0px 10px #ff3300;
	box-shadow:inset 0px 0px 10px #ff3300;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #ff3300;
	font-weight: bold;
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.campeonatoInativo:hover {
	float: left;
	width: 45%;
	height: 145px;
	
	background-color: #ff3300;
	cursor:pointer;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

/* HOME */

#mural{
	float: left;
	width: 45%;
	height: 345px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	
	background-color: #ffffcc;
	background: #ffffcc;
	
	border:solid 1px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 6px;
	
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

img.muralLogoCampeonato{
	height: 45px;
	width: 45px;
	
	text-align: left;
	vertical-align: middle;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.tituloMural{
	width: 100%;
	height: 30px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #ff3300;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	/*background-color: #e4e4e4;
	background: #e4e4e4;*/
	
	border:solid 0px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
}

.divisoriaMural{
	height: 5px;
}

.muralPontos{
	width: 100%;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 1px #ff3300;
	-webkit-box-shadow: 0px 0px 1px #ff3300;
	box-shadow: 0px 0px 1px #ff3300;
	
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
}

.muralTrofeus{
	width: 100%;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 1px #ff3300;
	-webkit-box-shadow: 0px 0px 1px #ff3300;
	box-shadow: 0px 0px 1px #ff3300;
	
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
}

.muralAcertos{
	width: 100%;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 1px #ff3300;
	-webkit-box-shadow: 0px 0px 1px #ff3300;
	box-shadow: 0px 0px 1px #ff3300;
	
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
}

.muralMedalhas{
	width: 100%;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 1px #ff3300;
	-webkit-box-shadow: 0px 0px 1px #ff3300;
	box-shadow: 0px 0px 1px #ff3300;
	
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
}

img.muralImg{
	height: 25px;
	width: 25px;
	
	text-align: left;
	vertical-align: middle;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.muralQtd{
	width: 80%px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 7px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 0px;
}

/* TOP Torcidas */

#boxTopTorcidas{
	clear: both;
	width: 100%;
	
	border:solid 0px #cccccc;

	text-align: center;
	vertical-align: middle;
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

img.timeFanpage{
	float: left;
	width: 25px;
	height: 25px;
	
	text-align: center;
	vertical-align: middle;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 15px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.curtirTopTorcidas{
	float: left;
	width: 180px;
	height: 25px;
	
	/*background-color: #ffffff;
	background: #ffffff;*/
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.divisoriaTopTorcidas{
	clear: both;
	width: 190px;
	
	/*background-color: #ffffff;
	background: #ffffff;*/
	
	border:solid 0px #cccccc;
	border-bottom-width: 1px;

	text-align: center;
	vertical-align: middle;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 15px;
	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

/* COMO FUNCIONA*/

#comoFunciona{
	float: left;
	width: 45%;
	height: 100px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #006600;
	text-align: center;
	vertical-align: middle;
	
	background-color: #c1ffc1;
	background: #c1ffc1;
	
	border:solid 1px #00df00;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 10px;
	margin-right: 12px;
	margin-bottom: 10px;
	margin-left: 12px;
	
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.tituloComoFunciona{
	width: 100%;
	height: 30px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #006600;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	/*background-color: #e4e4e4;
	background: #e4e4e4;*/
	
	border:solid 0px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	/*-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;*/
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
}

/* TIME FAVORITO */

#homeTimesFavoritos{
	clear: both;
	width: 750px;
	
	background-color: #ffffff;
	background: #ffffff;
	
	text-align: center;
	vertical-align: middle;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;
	
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

img.timeFavorito{
	width: 25px;
	height: 25px;
	
	text-align: center;
	vertical-align: middle;
}

.tituloTimeFavorito{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #ff3300;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.buttonTime {
	float: left;
	width: 27px;
	
	background-color: #ffffff;
	cursor:pointer;
	
	border:solid 0px #000000;
/*	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-moz-box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;
*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 1px;
}

.linkMaisTimes{
	clear: both;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #ff3300;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}

#escudoTimeFavorito {
	float: left;
	width: 47px;
	height: 47px;
	
	background-color: #ffffff;
	cursor:pointer;
	
	border:solid 0px #000000;
/*	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-moz-box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;
*/
	
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 5px;
	
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 1px;
}
#rendimentoTimeFavorito {
	float: left;
	width: 40%;
	height: 100%x;
	
	background-color: #ffffcc;
	background: #ffffcc;
	
	border:solid 1px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #ff3300;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.infoTimeFavorito{
	float: left;
	width: 44px;
	
	background-color: #ffffff;
	background: #ffffff;
	
	border:solid 0px #ff3300;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 0px 1px #ff3300;
	-webkit-box-shadow: 0px 0px 1px #ff3300;
	box-shadow: 0px 0px 1px #ff3300;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #ff3300;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;	
}

.classificacaoTimeFavorito{
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
/*
	-moz-box-shadow: 2px 2px 5px #000000;
	-webkit-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;
*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #ff3300;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 1px;	
}

.divisoriaTimeFavorito{
	clear: both;
}




















































/* MENU */


#ts_tabmenu {
	margin-left: 5px;
	float: left;
	font-size: .90em; /* set the font size */
	padding: 0px 0px 0px 0px; /* set the padding */

}

#ts_tabmenu ul {
	line-height: 1em; /* setting the line height now so we don't have any headaches*/
	margin: 0px; /* let's keep the margin set to 0 for the same reasons as above*/
	list-style-type: none; /* we remove the UL's default disc bullets */
	float: left; /* we float the list to the left like we will all the elements inside*/
	padding: 0px 0px 0px 5px; /* give it a left padding of 5px to counter the effect of margin -5px below */

}

#ts_tabmenu ul li {
	float: left; /* floatin' left */
}

#ts_tabmenu ul li a {

	text-decoration: none; /* remove the default underline off the anchor text */
	display: block; /* we display this text as block so that we can apply padding/margin without problems */
	float: left; /* floatin' left, to make the menu horizontal */
	z-index: 0; /* keep it on layer 0 (default) */
	position: relative;  /* very important as this enables the z-index to work for us and keeps the tabs where they should be */

	cursor:pointer;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	

	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #ff3300;
	font-weight: bold;
	
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;

}

#ts_tabmenu ul li a strong {

font-weight: normal;   /* remove the bold effect */

display: block;   /* display the strong element as a block so we can pad it, etc. */

float: left;   /* float it left as well */

padding: 6px 10px 7px 5px;  /* important, as through this you define the position of the text within the tab */

cursor: pointer;  /* this makes the browser show the "hand" cursor when hovering over the tab */

}

#ts_tabmenu ul li a:hover {

position: relative; /* again, keep things relative */

z-index: 5; /* we show this tab over all other tabs in the menu, which would be on layer 0, thus overlapping occurs */

	background-color: #ff3300;
	cursor:pointer;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow:inset 0px 0px 2px #000000;
	-webkit-box-shadow:inset 0px 0px 2px #000000;
	box-shadow:inset 0px 0px 2px #000000;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	
	margin-top: 2px;
	margin-right: auto;
	margin-bottom: 2px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;

}

#ts_tabmenu ul li a:hover strong {

position: relative; /* keep it relative */

z-index: 5; /* show this on layer 5 as well */

background-position: right bottom; /* we show the right bottom part of the tabs image (the hover instance) */
}

#tsmenu1 #li_tsmenu1 a, #tsmenu2 #li_tsmenu2 a, 

#tsmenu3 #li_tsmenu3 a, #tsmenu4 #li_tsmenu4 a, 

#tsmenu5 #li_tsmenu5 a, #tsmenu6 #li_tsmenu6 a, 

#tsmenu7 #li_tsmenu7 a, #tsmenu8 #li_tsmenu8 a {

position: relative;

z-index: 5; 

	background-color: #ff3300;
	cursor:pointer;
	
	border:solid 0px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow:inset 0px 0px 2px #000000;
	-webkit-box-shadow:inset 0px 0px 2px #000000;
	box-shadow:inset 0px 0px 2px #000000;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: auto;
	
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;

}

#tsmenu1 #li_tsmenu1 a strong, #tsmenu2 #li_tsmenu2 a strong, 

#tsmenu3 #li_tsmenu3 a strong, #tsmenu4 #li_tsmenu4 a strong, 

#tsmenu5 #li_tsmenu5 a strong, #tsmenu6 #li_tsmenu6 a strong, 

#tsmenu7 #li_tsmenu7 a strong, #tsmenu8 #li_tsmenu8 a strong { 

position: relative; 

z-index: 5; 

background-position: right bottom; 

}